.SurveyList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}
.SurveyList-div-no-surveys {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SurveyList-title {
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
  margin-bottom: 0;
  color: #333;
}

.SurveyList-no-surveys {
  text-align: center;
}

.SurveyList-create-survey-btn {
  width: 15%;
  padding: 10px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.SurveyList-create-survey-btn:hover {
  background-color: #218838;
}

.SurveyList-create-survey-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5);
}

.SurveyList-subtitle {
  text-align: center;
  font-size: 0.9rem;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #333;
}

.SurveyList-delete-msg {
  text-align: center;
  color: green;
}

.SurveyList-link-container {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SurveyList-title-link {
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s;
}

.SurveyList-title-link:hover {
  color: #0056b3;
}

.Survey-results-link {
  font-size: 0.9rem;
  color: #6c757d;
  text-decoration: none;
  margin-left: 10px;
}

.Survey-results-link:hover {
  text-decoration: underline;
}

.SurveyList-delete-survey {
  margin-left: 10px;
  background: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.SurveyList-delete-survey:hover {
  background: #c82333;
}

.SurveyList-error {
  color: red;
  font-size: 16px;
  margin: 10px 0;
}
